@use '../abstracts/variables';
@use '../abstracts/mixins';
@use "sass:list";
@use "sass:map";
@use "sass:math";

.button {
  @include mixins.input-transition;

  &:not(.icon) {
    @include mixins.miter;
  }

  padding: 0;
  background: none;
  border: none;

  > :first-child {
    border: none;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    height: auto;
    padding: 12px 24px;
    user-select: none;
    -webkit-background-clip: padding-box;
  }

  @include mixins.input-transition;

  border: none;
  border-radius: 4px;
  background: none;
  padding: 0;

  &.active {
    @include mixins.miter-shadow;
  }

  &:focus-visible {
    outline: none;
  }

  &.icon > span {
    border-radius: 50%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    padding: 0;
    width: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.primary {
    color: variables.$text--white;

    > :first-child {
      background-color: variables.$primary-100;
    }

    &.hovered > :first-child {
      background-color: variables.$primary-101;
    }
  }

  &.secondary {
    color: variables.$grey-1;

    > :first-child {
      background-color: variables.$grey-3;
    }

    &.hovered > :first-child {
      background-color: variables.$grey-4;
    }
  }

  &.outlined {
    color: variables.$grey-1;

    > :first-child {
      border: 1px solid variables.$grey-4;
    }

    &.active > :first-child {
      background-color: transparent;
    }

    &.hovered > :first-child {
      background-color: variables.$grey-5;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: variables.$grey-4 !important;

    &:not(.outlined) > :first-child {
      background-color: variables.$grey-3 !important;
    }
  }
}
