@use '../abstracts/variables';
@use '../abstracts/mixins';

button {
  @include mixins.miter(1);
  @include mixins.input-transition;

  border: none;
  border-radius: 4px;
  font-size: 14px;

  &.primary {
    background-color: variables.$primary-100;
    color: variables.$text--white;

    &:hover,
    &:focus {
      background-color: variables.$primary-101;
    }
  }

  &.secondary {
    background-color: variables.$grey-3;
    color: variables.$grey-1;

    &:hover,
    &:focus {
      background-color: variables.$grey-4;
    }
  }
}
