@use '../abstracts/variables';
@use '../abstracts/mixins';

.card {
  @include mixins.miter(2);
  @include mixins.miter-border(2, 1, variables.$grey-4, 4);

  display: block;
  height: min-content;
  position: relative;

  > section {
    align-content: flex-start;
    background-color: variables.$white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 32px;

    > section > article {
      align-content: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: auto;
    }
  }
}
