@use '../abstracts/variables';
@use '../abstracts/mixins';

.checkbox {
  @include mixins.input-transition;
  align-items: center;
  border: 1px;
  display: inline-flex;
  font-size: 15px;
  line-height: 20px;
  position: absolute;

  > input {
    position: absolute;
    height: 0;
    width: 0;
    margin-left: 6px;
  }
  .box {
    background-color: variables.$white;
    border: 1px solid variables.$grey-4;
    border-radius: 4px;
    display: inline-block;
    height: 28px;
    margin-right: 12px;
    width: 28px;
    z-index: 1;
  }
  .material-icons {
    color: variables.$white;
    display: none;
  }

  > input:checked {
    ~ .box {
      background-color: variables.$primary;
      .material-icons {
        display: inline;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: variables.$black-40 !important;
    .box {
      background-color: variables.$grey-4;
    }
  }

  &:focus,
  &.hovered,
  &.active {
    cursor: pointer;
    .box {
      background-color: variables.$grey-5;
    }
  }
}
