@use '../abstracts/variables';
@use '../abstracts/mixins';

.input {
    *, *:before, *:after {
    box-sizing: border-box;
  }
  border:0; 
  border-bottom:1px solid variables.$grey-7; 

  &.active 
  {
    border:0; 
    border-bottom:1px solid variables.$primary; 
  }

  &.disabled {
    border-bottom:1px solid variables.$grey-7; 
    cursor: not-allowed;
 }
}

.input-label {
    display:block;
    font-size: 11px;
    //Had to add another black here - do we want to simplify?
    color: variables.$text--black;
}
