@use '../abstracts/variables';
@use '../abstracts/mixins';

.number-input-wrapper {
  @include mixins.miter;

  display: inline-block;
  padding: 0;

  &.disabled {
    cursor: not-allowed;

    > div {
      background-color: variables.$disabled !important;
      border-color: variables.$grey-40 !important;
      cursor: not-allowed;
    }

    input[type='number'] {
      cursor: not-allowed;
    }

    .spin-button-container {
      pointer-events: none;

      .spin-button {
        color: variables.$grey-40;
      }
    }
  }

  > div {
    border: 1px solid variables.$grey-40;
    border-radius: 5px;
    display: flex;
    padding: 0;
    margin: 0;
    outline: none;
    transition: all 150ms;

    &:focus,
    &:focus-within,
    &:hover {
      border-color: variables.$primary;
    }
  }

  .spin-button-container {
    margin-right: 4px;

    .spin-button {
      background-color: transparent;
      border: none;
      border-radius: 4px;
      padding: 0 1px;
      cursor: pointer;
      display: block;
      outline: none;

      &:hover,
      &:focus {
        background-color: variables.$grey-20;
      }

      &:active {
        background-color: variables.$grey-40;
      }
    }
  }

  input[type='number'] {
    border: none;
    border-radius: 4px;
    display: block;
    height: 100%;
    outline: none;
    padding: 8px;
    flex-grow: 1;

    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:disabled {
      background-color: transparent;
    }
  }
}
