@use '../abstracts/variables';
@use '../abstracts/mixins';

.flexInput {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 7px;
  border-bottom:1px solid variables.$grey-7; 

  &.active {
    border-bottom:1px solid variables.$primary; 
  }

  &.disabled {
    border-bottom:1px solid variables.$grey-7; 
    *, *:before, *:after {
      opacity: 60%;
      cursor: not-allowed;
    }

  &.hovered
  & :hover {
    background-color: variables.$input-background;
  }
 }
}

.icon {
  // *, *:before, *:after {
  // }
    align-items: center;
    display: flex;
    justify-items: flex-end;
    margin-right: 12px;
    height: 47px;
}

.input-text {
    display: flex;
    flex-direction: column;
}

.input-label {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 8px;
  padding-left:2px;
  justify-content: center;
  opacity: 80%
}

.input {
  border:0;
&:focus {
  border-color: transparent;
  outline-style: none;
  }
}

