@use '../abstracts/variables';
@use '../abstracts/mixins';
.wrapper {
  font-family: variables.$font--primary;
  &.active {
    @include mixins.miter-shadow;
  }
  &:focus-visible {
    outline: none !important;
  }

  .picker {
    @include mixins.miter(2);
    @include mixins.miter-border(2, 1, variables.$grey-4, 4);
    background-color: variables.$white;
    cursor: pointer;
    height: 58px;
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    color: variables.$grey-4;
    font-size: 16px;
    white-space: nowrap;
    z-index: 2;
    span {
      width: 275px;
    }
    &.selected {
      color: variables.$text--primary;
    }
    i {
      color: variables.$grey-1;
    }
    &.disabled {
      background-color: variables.$grey-5;
      cursor: not-allowed !important;
      color: variables.$inactive !important;
      i {
        color: variables.$inactive !important;
      }
    }
    &.active,
    &.hovered {
      @include mixins.miter-border(2, 1, variables.$primary, 4);
    }
  }

  .list {
    @include mixins.input-transition;
    @include mixins.miter(2);
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    background: variables.$white;
    margin-top: -16px;
    .title {
      align-items: center;
      display: flex;
      height: 58px;
      border-bottom: 1px solid variables.$grey-6;
      padding-left: 32px;
      margin-top: 16px;
      text-transform: uppercase;
      font-weight: 700;
      color: variables.$grey-4;
    }
    &.hidden {
      @include mixins.input-transition;
      visibility: hidden;
    }
  }

  .option {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 58px;
    line-height: 20px;
    padding-left: 32px;
    &:not(:last-child) {
      border-bottom: 1px solid variables.$grey-6;
    }
    i {
      color: variables.$grey-4;
    }
    &.selected {
      background-color: variables.$primary;
      color: variables.$white;
      span {
        width: 275px;
      }
    }
  }
}
