@use '../abstracts/variables';
@use '../abstracts/mixins';

.container {
  @include mixins.miter(2, 1);

  height: 132px;
  width: 347px;
  margin-top: 50px;

  display: block;
  height: min-content;
  position: relative;
}

.container:after {
  content: '';
  position: absolute;
  // width: 0;
  // height: 0;

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid variables.$grey-20;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 25%);

  //   content: ' ';
  //   position: absolute;
  //   right: 30px;
  //   top: -15px;
  //   border-top: none;
  //   border-right: 15px solid transparent;
  //   border-left: 15px solid transparent;
  //   border-bottom: 15px solid black;
}

.content-container {
  border: 1px solid variables.$grey-20;
  border-radius: 4px;
  padding: 20px;

  hr {
  }
}
