@use '../abstracts/variables';
@use '../abstracts/mixins';
.wrapper {
  font-family: variables.$font--primary;
  outline: none; //needed for removing safari focus ring
  &.active {
    @include mixins.miter-shadow;
  }
  &:focus,
  &:focus-visible {
    outline: none !important; // also needed for focus rings
  }

  .picker {
    @include mixins.miter(2);
    @include mixins.miter-border(2, 1, variables.$grey-4, 4);
    background-color: variables.$white;
    cursor: pointer;
    height: 58px;
    width: 350px;
    display: flex;
    align-items: center;
    padding-left: 32px;
    color: variables.$grey-4;
    font-size: 16px;
    white-space: nowrap;
    z-index: 2;
    span {
      width: 275px;
    }
    &.selected {
      color: variables.$text--primary;
    }
    i {
      @include mixins.input-transition;
      color: variables.$grey-1;
    }
    &.disabled {
      background-color: variables.$grey-5;
      cursor: not-allowed !important;
      color: variables.$inactive !important;
      i {
        color: variables.$inactive !important;
      }
    }
    &.active,
    &.hovered {
      @include mixins.miter-border(2, 1, variables.$primary, 4);
    }
    &.active i {
      @include mixins.input-transition;
      transform: rotate(180deg);
    }
  }

  .list {
    @include mixins.input-transition;
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    background: variables.$white;

    &:not(.openUp) {
      @include mixins.miter(2);
      margin-top: -16px;
      padding-top: 16px;
    }
    &.openUp {
      bottom: 58px;
    }
    > * {
      align-items: center;
      display: flex;
      height: 58px;
      padding-left: 32px;
      &:not(:last-child) {
        border-bottom: 1px solid variables.$grey-6;
      }
    }
    .search {
      font-size: 16px;
      color: variables.$grey-4;
      input {
        width: 100%;
        border: none;
        font-family: variables.$font--primary;
        &::placeholder {
          color: variables.$grey-4;
          font-family: variables.$font--primary;
        }
        &:focus,
        &:focus-visible {
          outline: none;
        }
      }
      i {
        color: variables.$grey-1;
      }
    }
  }
}
.title {
  text-transform: uppercase;
  font-weight: 700;
  color: variables.$grey-4;
}
.option {
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  &:first-of-type {
    height: 74px;
    margin-top: -16px;
    padding-top: 16px;
  }
  i {
    color: variables.$grey-4;
  }
  &.hovered {
    background-color: variables.$grey-7;
  }
  &.selected {
    background-color: variables.$primary;
    color: variables.$white;
    span {
      width: 275px;
    }
    i {
      color: variables.$white;
    }
  }
  &.disabled {
    color: variables.$grey-4;
    pointer-events: none;
  }
}
