@use '../abstracts/variables';
@use '../abstracts/mixins';

.slider {
  @include mixins.input-transition;
  width: 320px;
  height: 4px; 
  outline: none; 
  background-color: variables.$primary !important;
  -webkit-appearance: none;
  
&::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  cursor: pointer;
  background: variables.$primary !important;
  
  
  
}

  > div {
    @include mixins.input-transition;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    color: variables.$warning !important;

    > span {
      margin-right: 4px;
    }
  }


  &.disabled {
    cursor: not-allowed;
    background-color: variables.$grey-7 !important;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background: variables.$grey-7 !important;
   
    }
    
  }

  


  

    

    

    
  
}


