@use '../abstracts/variables';
@use '../abstracts/mixins';

@mixin slider-thumb($disabled) {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: solid 2px;
    background-color: variables.$background;
    @if($disabled) {
        border-color: variables.$grey-7;
        cursor: not-allowed;
    }
    @else {
        border-color: variables.$primary;
        cursor: pointer;
    }
    
}


.slider {
  @include mixins.input-transition;
  width: 320px;
  height: 4px; 
  outline: none; 
  background: linear-gradient(to right, variables.$primary 250px, variables.$grey-7 0);
  -webkit-appearance: none;



&::-webkit-slider-thumb {
  -webkit-appearance: none;
  @include slider-thumb($disabled: false)
}

&::-moz-range-thumb {
    @include slider-thumb($disabled: false)
  }

&::-ms-thumb {
    @include slider-thumb($disabled: false)
}

  &.disabled {
    background: variables.$grey-7;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        @include slider-thumb($disabled: true)
    }
  }  
}


