@use '../abstracts/variables';
@use '../abstracts/mixins';

button.tab {
  $width: 227px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid variables.$grey-4;
  height: max-content;
  cursor: pointer;
  font-size: 15px;
  padding: 0;
  transition: color 200ms ease-in;
  width: $width;

  &.hover,
  &:hover,
  &:focus,
  &.focus {
    background-color: variables.$grey-3;
    border-color: variables.$grey-2;
    outline: none;
  }

  &.focused {
    background-color: variables.$grey-4;
    border-color: variables.$grey-2;
  }

  &.disabled {
    color: variables.$disabled;
    cursor: not-allowed;
  }

  &.active {
    color: variables.$primary;
  }

  > div {
    padding: 12px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
