@use '../abstracts/variables';
@use '../abstracts/mixins';

.shadowWrapper {
  @include mixins.miter-shadow;
}

.tag {
  @include mixins.miter;

  border: none;
  border-radius: 3px;
  padding: 0;
  user-select: none;
  white-space: nowrap;
  cursor: default;
  display: inline-block;
  overflow: hidden;
  cursor: default;
  font-size: 11px;
  vertical-align: middle;
  background-color: variables.$grey-2;
  color: variables.$text--white;

  > :first-child {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 0 24px;
  }

  &:focus-visible {
    outline: none;
  }

  &.outlined {
    background-color: variables.$white;
    color: variables.$grey-2;
    border: 1px solid variables.$grey-4;
    transition: background-color 0s, clip-path 0s !important;
  }

  @each $name, $color in variables.$colors {
    &.#{'' + $name} {
      background-color: $color;
      color: variables.$text--white;

      &.outlined {
        border: 1px solid $color;
        color: $color;
        background-color: variables.$white;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: variables.$disabled !important;
    color: variables.$grey-4 !important;

    &.outlined {
      border: 1px solid variables.$grey-4;
    }
  }

  &.elevated {
    @include mixins.miter-shadow;
  }
}
