@use '../abstracts/variables';
@use '../abstracts/mixins';

.tag {
  @include mixins.input-transition;

  &:not(.icon) {
    @include mixins.miter(1);
  }

  background-color: variables.$primary;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  user-select: none;
  display: inline-block;
  white-space: nowrap;
  cursor: default;

  &:not(.icon) > div {
    @include mixins.miter(1);
  }

  > div {
    @include mixins.input-transition;
    border-radius: 3px;
    padding-left: 23px;
    padding-right: 23px;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:not(.selected) {
    background-color: variables.$white;
    color: variables.$white;
    transition: background-color 0s, clip-path 0s !important;

    &:not(.icon) > div {
      @include mixins.miter(1, true);
    }

    > div {
      position: relative;
      background-color: variables.$white;

      top: 1px;
      left: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: variables.$disabled !important;
    color: variables.$grey-4 !important;

    background-color: variables.$grey-4 !important;
  }

  &.primary {
    background-color: variables.$primary;
    color: variables.$text--white;

    background-color: variables.$primary-101;

    &:not(.selected) {
      background-color: variables.$primary;
      color: variables.$primary;

      &.hovered > div {
        background-color: variables.$grey-5;
      }
    }
  }

  &.secondary {
    background-color: variables.$success;
    color: variables.$text--white;

    &:not(.selected) {
      background-color: variables.$success;
      color: variables.$success;

      &.hovered > div {
        background-color: variables.$grey-5;
      }
    }
  }

  &.default {
    background-color: variables.$grey-2;
    color: variables.$text--white;

    &:not(.selected) {
      background-color: variables.$grey-2;
      color: variables.$grey-2;

      &.hovered > div {
        background-color: variables.$grey-5;
      }
    }
  }
}
