@use '../abstracts/variables';
@use '../abstracts/mixins';

.toast {
  color: variables.$white;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;

  .toast--content {
    background-color: variables.$primary;
    padding: 12px 24px;
  }
}

.toast-container {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 100vh;
  position: fixed;
  right: 0;
  z-index: 10;
}
