@use '../abstracts/variables';
@use '../abstracts/mixins';

.toast {
  color: variables.$white;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .toast--content {
    background-color: variables.$primary;
    min-width: 200px;
    padding: 12px;
    padding-right: 16px;
  }

  .toast--close-button {
    position: relative;
  }
}