@use '../abstracts/variables';
@use '../abstracts/mixins';

.toast {
  color: variables.$white;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toast--content {
    background-color: variables.$primary;
    padding: 12px;
  }

  .toast--close-button {
    position: relative;
    left: 8px;
  }
}