@use '../../styles/abstracts/variables';

.tooltip {
  --tooltip-background: #090422;
  --tooltip-triangle-size: 5px;

  position: absolute;
  font-size: 13px;
  color: white;
  padding: 10px;
  z-index: 1;
}

.tooltip__content {
  text-align: center;
  background-color: var(--tooltip-background);
  border-radius: 4px;
  min-height: 34px;
  min-width: 83px;
  font-family: variables.$font--secondary;
  line-height: 18px;
  letter-spacing: -0.09px;
  padding: var(--p-1) var(--p-2);
}

.tooltip::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.tooltip--top::after,
.tooltip--bottom::after {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip--left::after,
.tooltip--right::after {
  top: 50%;
  transform: translateY(-50%);
}

.tooltip--top::after {
  bottom: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--tooltip-background);
}

.tooltip--right::after {
  left: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid var(--tooltip-background);
}

.tooltip--bottom::after {
  top: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--tooltip-background);
}

.tooltip--left::after {
  right: 5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--tooltip-background);
}
