@font-face {
  font-family: 'prefect-icons';
  src:  url('fonts/prefect-icons.eot?cldbbe');
  src:  url('fonts/prefect-icons.eot?cldbbe#iefix') format('embedded-opentype'),
    url('fonts/prefect-icons.ttf?cldbbe') format('truetype'),
    url('fonts/prefect-icons.woff?cldbbe') format('woff'),
    url('fonts/prefect-icons.svg?cldbbe#prefect-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pi-"], [class*=" pi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'prefect-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi-arrow:before {
  content: "\e900";
}
.pi-divide:before {
  content: "\e901";
}
.pi-fire:before {
  content: "\e902";
}
.pi-menu:before {
  content: "\e903";
}
.pi-key:before {
  content: "\e904";
}
.pi-numeric-keypad:before {
  content: "\e905";
}
.pi-pin:before {
  content: "\e906";
}
.pi-sand-clock:before {
  content: "\e907";
}
.pi-settings:before {
  content: "\e908";
}
.pi-shut-down:before {
  content: "\e909";
}


.pi-lg {
  font-size: 1.33333em !important;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.pi-xs {
  font-size: 0.75em !important;
}

.pi-sm {
  font-size: 0.875em !important;
}

.pi-1x {
  font-size: 1em !important;
}

.pi-2x {
  font-size: 2em !important;
}

.pi-3x {
  font-size: 3em !important;
}

.pi-4x {
  font-size: 4em !important;
}

.pi-5x {
  font-size: 5em !important;
}

.pi-6x {
  font-size: 6em !important;
}

.pi-7x {
  font-size: 7em !important;
}

.pi-8x {
  font-size: 8em !important;
}

.pi-9x {
  font-size: 9em;
}

.pi-10x {
  font-size: 10em !important;
}

.pi-fw {
  display: inline-block;
  height: 1em;
  text-align: center;
  vertical-align: -0.25em;
  width: 1.25em;
}
