$prefect-font-family: 'prefect-icons' !default;
$prefect-font-path: 'fonts' !default;

$pi-hello: 'hello!';
$pi-arrow: '\e900';
$pi-divide: '\e901';
$pi-fire: '\e902';
$pi-menu: '\e903';
$pi-key: '\e904';
$pi-numeric-keypad: '\e905';
$pi-pin: '\e906';
$pi-sand-clock: '\e907';
$pi-settings: '\e908';
$pi-shut-down: '\e909';
