@use "sass:list";
@use "sass:math";
@use './variables';

$cuts: 8, 16, 24, 32, 40, 48;

@mixin miter($i, $inner: false) {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - #{list.nth($cuts, $i)}px + #{if($inner, 0.5px, 0px)}),
    calc(100% - #{list.nth($cuts, $i)}px + #{if($inner, 0.5px, 0px)}) 100%,
    0 100%
  );
}

@mixin input-transition {
  transition: all 75ms;
}

@mixin input-transition-long {
  transition: all 250ms;
}

@mixin chamfer($cut-length, $color, $border-width: 0, $border-color: $color) {
  position: relative;
  background: linear-gradient(
    315deg,
    transparent #{list.nth($cuts, $cut-length)}px,
    #{$border-color} #{list.nth($cuts, $cut-length)}px
  );
  > div:first-of-type {
    position: absolute;
    background: linear-gradient(
      315deg,
      transparent #{list.nth($cuts, $cut-length)}px,
      #{$color} #{list.nth($cuts, $cut-length)}px
    );
    height: calc(100% - calc(#{$border-width} * 2px));
    width: calc(100% - calc(#{$border-width} * 2px));
    top: #{$border-width}px;
    left: #{$border-width}px;
  }
}
