$breakpoints: (
  '': '',
  xs: 450px,
  sm: 640px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

$font--primary: Barlow;
$font--secondary: 'input-sans';

$box-shadow-sm: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
$box-shadow-md: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
$box-shadow-lg: 0px 10px 15px rgba(0, 0, 0, 0.1),
  0px 4px 6px rgba(0, 0, 0, 0.05);
$box-shadow-xl: 0px 20px 25px rgba(0, 0, 0, 0.1),
  0px 10px 10px rgba(0, 0, 0, 0.04);
$box-shadow-2xl: 0px 25px 50px rgba(0, 0, 0, 0.25);
$box-shadow-inset: inset 0px 2px 4px rgba(0, 0, 0, 0.06);

$drop-shadow-sm: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.06))
  drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
$drop-shadow-md: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.06))
  drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
$drop-shadow-lg: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1))
  drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.05));
$drop-shadow-xl: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1))
  drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.04));
$drop-shadow-2xl: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.25));

$shadows: (
  shadow-sm: $box-shadow-sm,
  shadow-md: $box-shadow-md,
  shadow-lg: $box-shadow-lg,
  shadow-xl: $box-shadow-xl,
  shadow-2xl: $box-shadow-2xl,
  shadow-inset: $box-shadow-inset
);

$drop-shadows: (
  drop-shadow-sm: $drop-shadow-sm,
  drop-shadow-md: $drop-shadow-md,
  drop-shadow-lg: $drop-shadow-lg,
  drop-shadow-xl: $drop-shadow-xl,
  drop-shadow-2xl: $drop-shadow-2xl
);

@each $key, $val in $shadows {
  .#{$key} {
    box-shadow: #{$val};
  }
}

@each $key, $val in $drop-shadows {
  .#{$key} {
    filter: #{$val};
  }
}

// Colors
// We'll want to namespace these by theme later
$text--primary: #465968;
$text--secondary: #8ea0ae;
$text--placeholder: #8ea0ae;
$text--white: #ffffff;

$inactive: #cecdd3;
$disabled: #f5f4fa;
$background: #f7f8fa;
$popup-background: rgba(0, 0, 0, 0.75);

$white: #ffffff;
$black: #090422;
$error: #fb4e4e;
$warning: #f6a609;
$success: #2ac769;

$primary: #024dfd;
$primary-hover: #0035b0;
$primary-pressed: #0a2053;

$secondary-background: #f7f7f8;
$secondary-hover: #e8e8e8;
$secondary-pressed: #cecdd3;

$delete: $error;
$delete-hover: #b82e2e;
$delete-pressed: #722020;

$grey-80: #465968;
$grey-40: #8ea0ae;
$grey-30: #d2d9df;
$grey-20: #cacccf;
$grey-10: #f4f5f7;

$blue-80: #6680ee;
$blue-40: #acbbf3;
$blue-20: #ebeef7;
$blue-10: #f9fafd;
$blue-5: #fcfdfe;

$colors: (
  text--primary: $text--primary,
  text--secondary: $text--secondary,
  text--placeholder: $text--placeholder,
  text--white: $text--white,
  inactive: $inactive,
  disabled: $disabled,
  background: $background,
  popup-background: $popup-background,
  white: $white,
  black: $black,
  error: $error,
  warning: $warning,
  success: $success,
  primary: $primary,
  primary-hover: $primary-hover,
  primary-pressed: $primary-pressed,
  secondary-background: $secondary-background,
  secondary-hover: $secondary-hover,
  secondary-pressed: $secondary-pressed,
  delete: $delete,
  delete-hover: $delete-hover,
  delete-pressed: $delete-pressed,
  grey-80: $grey-80,
  grey-40: $grey-40,
  grey-30: $grey-30,
  grey-20: $grey-20,
  blue-80: $blue-80,
  blue-40: $blue-40,
  blue-20: $blue-20,
  blue-5: $blue-5
);
