@use 'abstracts/functions';
@use 'abstracts/variables';
@use 'abstracts/mixins';

@use 'base/base';
@use 'base/typography';
@use 'base/spacing';
@use 'base/colors';

@use 'vendors/normalize';

@import '../assets/fonts/style.css';
@import 'https://use.typekit.net/kuq1xhl.css';
@import 'https://fonts.googleapis.com/css?family=Barlow';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

$background: #090422;

.tooltip-box {
  position: relative;
  display: inline-block;

  &:hover .tooltip {
    opacity: 1;
  }

  .tooltip {
    position: absolute;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.7s;
    background: $background;
    color: white;

    text-align: center;
    min-width: 83px;
    min-height: 34px;
    z-index: 1;
  }

  .tooltip-inner::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
  }

  .tooltip {
    bottom: 100%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    margin-bottom: 13px;
  }

  .tooltip-inner::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $background;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
}
