@use 'abstracts/functions';
@use 'abstracts/variables';
@use 'abstracts/mixins';

@use 'base/base';
@use 'base/typography';
@use 'base/spacing';
@use 'base/colors';

@use 'vendors/normalize';

@import '../assets/fonts/style.css';
@import 'https://use.typekit.net/kuq1xhl.css';
@import 'https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
