name: Release

on:
  push:
    paths: 
      - package.json
    branches:
      - main

jobs:

  version-change-check:
    name: Check Package Version
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v1

      - name: Check Package Version
        uses: EndBug/version-check@v1
        id: check

      - name: Cancel
        if: steps.check.outputs.changed == 'false'
        uses: andymckay/cancel-action@0.2

  build-and-publish:
    name: Build & Publish Release
    runs-on: ubuntu-latest
    needs: [version-change-check]
    environment: 'prod'

    steps:
      - uses: actions/checkout@v1

      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm

      - uses: actions/setup-node@v2
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
      
      - name: Install dependencies
        run: npm ci install
      
      - name: Build package
        run: npm run build

      - name: Publish Package
        id: publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_PUBLISH_TOKEN }}
          access: public

      - name: Create Release
        uses: actions/create-release@v1
        with:
          tag_name: ${{ steps.publish.outputs.version }}
          release_name: Release ${{ steps.publish.outputs.version }}
          body: |
            Please refer to [CHANGELOG.md](https://github.com/PrefectHQ/miter-design/blob/main/CHANGELOG.md) for details.
