@use '../abstracts/variables';

html {
  box-sizing: border-box;
}

/**
 * All elements should inherit box-sizing
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.cursor-pointer {
  cursor: pointer;
}

$text-alignments: 'left', 'center', 'right', 'end', 'justify', 'start',
  'inherit', 'initial', 'unset';

@each $alignment in $text-alignments {
  .text-#{$alignment} {
    text-align: #{$alignment};
  }
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
  flex-wrap: wrap;
}

.d-inline-flex {
  display: inline-flex !important;
  flex-wrap: nowrap;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

a {
  color: inherit !important;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: variables.$primary-100 !important;
  }

  &.disabled {
    color: variables.$grey-4 !important;
    cursor: not-allowed;
  }
}
