html {
  box-sizing: border-box;
}

/**
 * All elements should inherit box-sizing
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.cursor-pointer {
  cursor: pointer;
}
