@use '../abstracts/variables';

:root {
  @each $key, $color in variables.$colors {
    --#{"" + $key}: #{$color};
  }
}

@each $key, $color in variables.$colors {
  .bg--#{$key} {
    background-color: #{$color} !important;
  }

  .text--#{$key} {
    color: #{$color} !important;
  }

  .fill--#{$key} {
    fill: #{$color} !important;
  }
}
