@use '../abstracts/variables';

// TODO: Add the rest of the text and background color classes
.text--primary {
  color: variables.$text--primary;
}

.text--primary-blue {
  color: variables.$primary;
}

.text--black {
  color: variables.$black;
}

.text--grey-80 {
  color: variables.$grey-80;
}

.text--grey-40 {
  color: variables.$grey-40;
}

.black {
  background-color: variables.$black;
}

.text--success {
  color: variables.$success;
}

.text--error {
  color: variables.$error;
}

.text--white {
  color: variables.$text--white;
}
