@use '../abstracts/variables';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
.body {
  color: variables.$text--primary;
  font-family: variables.$font--primary !important;
  font-size: 16px;
  letter-spacing: -0.41px;
  line-height: 24px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: variables.$text--primary;
  font-family: variables.$font--primary !important;
}

.font--primary {
  font-family: variables.$font--primary !important;
}

.font--secondary {
  font-family: variables.$font--secondary !important;
}

h1,
.header {
  font-size: 24px;
  letter-spacing: 0.4px;
  line-height: 28px;
}

h2,
.subheader {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 24px;
}

h3,
.title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 22px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-semibold {
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 700;
}

.caption,
.caption-small {
  font-family: variables.$font--secondary;
}

.caption {
  font-size: 13px;
  letter-spacing: -0.09px;
  line-height: 18px;
}

.caption-small {
  font-size: 11px;
  letter-spacing: -0.09px;
  line-height: 15px;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-overline {
  text-decoration: overline;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-line-through,
.text-decoration-strikethrough {
  text-decoration: line-through;
}

.pi {
  font-size: 24px;
  vertical-align: inherit !important;
}

.pi-lg {
  font-size: 1.25em !important;
  line-height: 1.25em;
}

.pi-xs {
  font-size: 0.75em !important;
}

.pi-sm {
  font-size: 0.875em !important;
}

.pi-1x {
  font-size: 1em !important;
}

.pi-2x {
  font-size: 2em !important;
}

.pi-3x {
  font-size: 3em !important;
}

.pi-4x {
  font-size: 4em !important;
}

.pi-5x {
  font-size: 5em !important;
}

.pi-6x {
  font-size: 6em !important;
}

.pi-7x {
  font-size: 7em !important;
}

.pi-8x {
  font-size: 8em !important;
}

.pi-9x {
  font-size: 9em !important;
}

.pi-10x {
  font-size: 10em !important;
}

.pi-fw {
  display: inline-block;
  height: 1em;
  text-align: center;
  vertical-align: -0.25em;
  width: 1.25em;
}
