@use '../abstracts/variables';

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: variables.$text--primary;
  font-family: variables.$font--secondary !important;
  font-size: 1em;
}
